// Fonts
$font: 'Montserrat';

// Colors
$primary-color: #1d1d24;
$second-color: #191919;
$footer-color: #101010;
$color: #c6c9d8;
$colorArticle: #191919;
$white: #fff;
$color-neon: #f9004d;
$colorBg1: #f61b10;
$colorBg2: #ef0963;
$zapColor: #25d366;
