.services{
    position: relative;
    background-color: $second-color;
    padding: 5rem 0;
    margin-bottom: 5rem;
    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media(max-width: 1260px){
            flex-direction: column;
        }
        &__title{
            max-width: 30%;
            width: 100%;
            margin-right: 30px;
            @media(max-width: 1260px){
                margin-right: auto;
                margin-bottom: 60px;
                max-width: 100%;
            }
            h2{
                margin-bottom: 10px;
            }
            p{
                font-size: 18px;
                line-height: 23px;
                margin-bottom: 15px;
            }
        }
        &__description{
            max-width: 60%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media(max-width: 1260px){
                max-width: 100%;
            }
            @media(max-width: 850px){
                flex-direction: column;
            }
            @media(max-width: 600px){
                align-items: center;
            }
            &__item{
                max-width: 40%;
                width: 100%;
                margin-bottom: 20px;
                padding: 30px 35px;
                z-index: 2;
                border-radius: 10px;
                position: relative;
                transition: all .3s cubic-bezier(.645,.045,.355,1);
                cursor: pointer;
                @media(max-width: 850px){
                    max-width: 90%;
                    margin-bottom: 50px;
                    padding: 10px 15px;
                }
                &__title{
                    display: flex;
                    h3{
                        margin: 0 10px 10px 0;
                    }
                    svg{
                        color: $color-neon;
                        font-size: 30px;
                        @media(max-width: 1000px){
                            color: $white;
                        }
                    }
                }
                p{
                    font-size: 16px;
                    line-height: 22px;
                    @media(max-width: 1000px){
                        color: $white;
                    }
                }
                &::before{
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    background-image: linear-gradient(90deg,#f61b10,#ef0963);
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    opacity: 0;
                    visibility: hidden;
                    border-radius: 10px;
                    transition: all .3s cubic-bezier(.645,.045,.355,1);
                    @media(max-width: 1000px){
                        opacity: 1;
                        visibility: visible;
                    }
                }
                &:hover{
                    box-shadow: 0 10px 25px 10px rgba(0,0,0,.1);
                    transform: translateY(-5px);
                    p,span,svg{
                        color: $white;
                    }
                    &::before{
                        opacity: 1;
                        visibility: visible;
                    }
                    .services__container__description__item__saibaMais{
                        span{
                            &::after{
                                width: 100%;
                            }
                        }
                    }
                }
                &__saibaMais{
                    position: relative;
                    font-size: 13px;
                    text-transform: uppercase;
                    font-weight: 700;
                    position: relative;
                    display: inline-block;
                    padding-bottom: 8px;
                    margin-top: 15px;
                    span{
                        line-height: 10px;
                        @media(max-width: 1000px){
                            color: $white;
                        }
                        &::after{
                            position: absolute;
                            content: "";
                            left: 0;
                            bottom: 0;
                            width: 40px;
                            height: 3px;
                            background: $white;
                            opacity: .75;
                            transition: all .2s;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}
